[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
boto3 = "*"
psycopg2-binary = "*"
sendgrid = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
